</head>
<body>
  <nav>
		<i class="fas fa-plane-departure"></i> 
    <a 
    href="/destinations/new"
    <%- title === "Add destination" ? 'class="active"' : ''%>
  >
    ADD DESTINATION
  </a>
    <a 
      href="/flights/new" <%- title === 'Add flight' ? 'class="active"' : '' %>
    >ADD FLIGHT</a>
    <a 
      href="/flights" <%- title === 'All flights' ? 'class="active"' : '' %>
    >ALL FLIGHTS</a>
  </nav>